p {
	color: blue;
}

#sent {
	color: red;
}

.sometext {
	color: green;
}

html {
	background: lightgrey;
}

.flex-container {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    justify-content: space-between;
}

.flex-item {
    background-color: lightgrey;
    margin: 10px;
}